.custom-context-menu .p-menuitem-link {
    text-decoration: none !important;
    padding: 5px 10px !important;
    line-height: 1.2 !important;
    transition: background-color 0.2s ease;
}
.custom-context-menu .p-menuitem-text {
    font-size: 13px;
}

.custom-context-menu .p-menuitem-icon {
    font-size: 14px;
    margin-right: 8px;
}

.custom-context-menu .p-menuitem {
    margin: 0 !important;
}

.custom-context-menu .p-menuitem-link:hover {
    background-color: #b8d9f1 !important;
    color: #0056b3 !important;
}

.custom-context-menu .p-menuitem-link:hover .p-menuitem-icon {
    color: #0056b3 !important;
}

