.custom-context-menu .p-menuitem-link {
    text-decoration: none !important;
    padding: 5px 10px !important;
    line-height: 1.2 !important;
    transition: background-color 0.2s ease;
}

.custom-context-menu .p-menuitem-text {
    font-size: 13px;
}

.custom-context-menu .p-menuitem-icon {
    font-size: 14px;
    margin-right: 8px;
}

.custom-context-menu .p-menuitem {
    margin: 0 !important;
}

.custom-context-menu .p-menuitem-link:hover {
    background-color: #b8d9f1 !important;
    color: #0056b3 !important;
}

.custom-context-menu .p-menuitem-link:hover .p-menuitem-icon {
    color: #0056b3 !important;
}


/* use color the cell when move the selection  */
.selected-cell {
    outline: none !important;
    box-shadow: none !important;
    background: #6ec7f0 !important;
    color: #fff;
}

/* Remove the focus border */
:host ::ng-deep .p-datatable td:focus,
:host ::ng-deep .p-datatable td:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* Remove the focus border */
:host ::ng-deep .p-datatable input:focus {
    outline: none !important;
    box-shadow: none !important;
}



.p-column-filter-menu-button, .p-column-filter-clear-button{
    display: none !important;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
    font-size: 12px;
    padding: 3px 6px;
    border: 1px solid rgb(165, 163, 163);
}

.p-datatable .p-datatable-thead > tr > th{
     background-color: #adafbb; 
    text-align: center !important;
}



/* Filter input filed css */
.filter-input {
    margin: 2px !important;
    border: none;
    outline: none !important;
    background-color:white !important;
    box-shadow: none !important;
    text-align: center !important;
}

/* Focus state */
.filter-input:focus,
.filter-input:active {
    border: solid 2px green !important ;
    outline: none !important;
    box-shadow: none !important;
}



.column-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 20px;
}

.column-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
}

.p-dialog .p-dialog-header{
    padding: 0px  !important;
}