.custom-context-menu .p-menuitem-link {
    text-decoration: none !important;
    padding: 5px 10px !important;
    line-height: 1.2 !important;
    transition: background-color 0.2s ease;
}

.custom-context-menu .p-menuitem-text {
    font-size: 13px;
}

.custom-context-menu .p-menuitem-icon {
    font-size: 14px;
    margin-right: 8px;
}

.custom-context-menu .p-menuitem {
    margin: 0 !important;
}

.custom-context-menu .p-menuitem-link:hover {
    background-color: #b8d9f1 !important;
    color: #0056b3 !important;
}

.custom-context-menu .p-menuitem-link:hover .p-menuitem-icon {
    color: #0056b3 !important;
}


/* use color the cell when move the selection  */
.selected-cell {
    outline: none !important;
    box-shadow: none !important;
    background: #7eb8f5 !important;
    color: #ffffff;
}

.selected-range-cell {
    outline: none !important;
    box-shadow: none !important;
    background: #71aef0 !important;
    color: #fffdfd;
}

.p-datatable .p-datatable-thead>tr>th, .selected-range-cell{
     border: 1px solid rgb(201, 197, 197) !important;

}

/* Remove the focus border */
:host ::ng-deep .p-datatable td:focus,
:host ::ng-deep .p-datatable td:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* Remove the focus border */
:host ::ng-deep .p-datatable input:focus {
    outline: none !important;
    box-shadow: none !important;
}



.p-column-filter-menu-button,
.p-column-filter-clear-button {
    display: none !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
   /* font-size: 11px !important; */
    padding: 0px 3px !important;
    border: 1px solid rgb(165, 163, 163);
}

.p-datatable .p-datatable-thead>tr>th {
    background-color: #adafbb;
    text-align: center !important;
}

.excel-table .p-datatable-tbody > tr > td,
.excel-table .p-datatable-thead > tr > th {
    font-size: var(--table-font-size) !important;
}



/* Filter input filed css */
.filter-input {
    margin: 2px !important;
    border: none;
    outline: none !important;
    background-color: white !important;
    box-shadow: none !important;
    text-align: center !important;
}

/* Focus state */
.filter-input:focus,
.filter-input:active {
    border: solid 2px green !important;
    outline: none !important;
    box-shadow: none !important;
}



.column-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 10px;
}

.column-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
}

.p-dialog .p-dialog-header {
    padding: 0px !important;
}


.p-dialog .p-dialog-content {
    padding: 2px 10px 10px 10px !important;
}

.p-dialog .p-dialog-header {
    padding-left: 10px !important;
    font-size: 12px !important;
}




.object-list {
    height: calc(100vh);
    overflow: auto;
}

.object-item {
    padding-left: 4px;
    cursor: pointer;
}

.object-item:hover {
    background: #bdbaba;
}

.object-search-filed {
    border: 1px solid gray;
    border-radius: 5px;
    height: 22px;
    width: 100%;
}

.object-item.selected {
    background: #95c5ec;
    color: white;
}




:host ::ng-deep .p-datatable td {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

:host ::ng-deep .p-datatable .cell-selected {
    background-color: #cce5ff !important;
}

.p-datatable {
    user-select: none;
}

.cell-selected {
    background: #66a7ec !important;
    color: white;
}


/* Add application styles & imports to this file! */
app-textarea-highlight .highlights span.logical_operators {
  background: none !important;
  color: #228be7;
}
app-textarea-highlight .highlights span.conditional_clause {
  background: none !important;
  color: #fca346;
}

app-textarea-highlight .highlights span.function_names {
  background: none !important;
  color: #df84ae;
}

app-textarea-highlight .highlights span.database_objects {
  background: none !important;
  color: #f1ce2f;
}


app-textarea-highlight .highlights span.quoted_words {
  background: none !important;
  color: #f34949;
}
app-textarea-highlight .highlights span.sql_comment  {
  color: #6a9955  !important;
  font-style: italic;
}

.ace_scroller, .ace_content {
    background-color: #ffffff; /* Or your editor's theme background color */
}

.CodeMirror-lines {
    background-color: #ffffff; 
}