<div class="app-page">
    <div *ngIf="taskId">
        <approval-flow-task-button [taskId]="taskId" [header]="header"></approval-flow-task-button>
    </div>
    <div *ngIf="!taskId">
        <div style="padding: 0px 10px 0px 10px;">
            <div style="float:left ; margin: 0px; padding: 0px; ">
                <p class="app-page-header">User detials</p>
            </div>

            <div class="app-button-group">
                <button (click)="activeUser()"><i class="pi pi-edit" style="font-size:12px"></i>Active</button>
                <button (click)="changePassword()"><i class="pi pi-edit" style="font-size:12px"></i> Resset
                    Password</button>
                <button (click)="lockUser()"><i class="pi pi-edit" style="font-size:12px"></i> Block</button>
                <button (click)="disable()"><i class="pi pi-edit" style="font-size:12px"></i>Disable</button>
                <button (click)="onEdit()"><i class="pi pi-edit" style="font-size:12px"></i> Edit</button>
                <button (click)="back()"><i class="pi pi-angle-left" style="font-size:12px"></i> Back</button>
            </div>
        </div>
        <div class="clear-fix"></div>
        <hr style="margin: 0px; padding: 0px; width: 100%;">
    </div>

    <mat-card>
        <mat-card-content>
            <div class="row" style=" padding: 10px;">
                <div class="col-sm-12  col-md-6 " style="display:flex; flex-direction:row">
                    <div style="flex: 2; margin-right: 3px;">
                        <table class="table table-bordered table-striped table-even-rows">
                            <tr>
                                <th style="width:110px;">User Name</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.userName}} </td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.firstName}} </td>
                            </tr>
                            <tr>
                                <th>Middle Name</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.middleName}} </td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.lastName}} </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col-sm-12  col-md-6 " style="display:flex; flex-direction:row">
                    <div style="flex: 2; margin-right: 3px;">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th style="width: 115px;">Email</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.email}} </td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.firstName}} </td>
                            </tr>
                            <tr>
                                <th>User Status</th>
                                <th style="width: 10px;">:</th>
                                <td>{{userInfo.userStatus}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>