.login-card {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #0a3d62;
    color: white;
    /* Semi-transparent for contrast */
    backdrop-filter: blur(5px);
}

.login-button {
    color: white;
    background-color: #38ada9;
    height: 40px;
    border-radius: 5px;

}

body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
}


input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

:host {
    display: block;
    height: 100vh;
   
    /* Your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.login-container {
  min-height: 100%;
  background-image: url('/assets/image/login-page-background.jpg');
  background-size: cover;
  background-position: center;
}
