.login-card {
    width: 25%;
    min-width: 400px;
    padding: 20px;

    border-radius: 15px;
    background-color: #0a3d62;
    color: white;
    backdrop-filter: blur(5px);
}

.login-button {
    color: white;
    background-color: #02abc2;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

}


input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

:host {
    display: block;
    height: 100vh;

    /* Your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.login-container {
    min-height: 100%;
    background-image: url('/assets/image/login-page-background.jpg');
    background-size: cover;
    background-position: center;
}