<hr style="margin: 0px; padding: 0px;">
<div style="padding: 0px 20px 10px 20px ;">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="app-input-field app-row">
            <input type="password" id="existingPassword" placeholder=" " formControlName="existingPassword" [ngClass]="{'is-invalid' :passwordChangeForm.controls.existingPassword.touched &&
                 passwordChangeForm.controls.existingPassword.errors}">
            <label for="existingPassword">Existing Password</label>
            <div
                *ngIf="passwordChangeForm.controls['existingPassword'].errors && passwordChangeForm.controls ['existingPassword'].touched">
                <div class="error-alert" [hidden]="!passwordChangeForm.controls['existingPassword'].errors.required">
                    Existing password required.</div>
                <div class="error-alert" [hidden]="!passwordChangeForm.controls['existingPassword'].errors.pattern">
                    Currenct password not match</div>
            </div>
        </div>
        <div class="app-input-field app-row">
            <input type="password" id="newPassword" placeholder=" " formControlName="newPassword" [ngClass]="{'is-invalid' :passwordChangeForm.controls.newPassword.touched &&
                 passwordChangeForm.controls.newPassword.errors}" (focusout)="newPasswordInput()">
            <label for="newPassword">New Password</label>
            <div
                *ngIf="passwordChangeForm.controls['newPassword'].errors && passwordChangeForm.controls['newPassword'].touched">
                <div class="error-alert" [hidden]="!passwordChangeForm.controls['newPassword'].errors.required">
                    New password required.</div>
            </div>
        </div>
        <div class="app-input-field app-row">
            <input type="password" id="confirmNewPassword" placeholder=" " formControlName="confirmNewPassword"
                [ngClass]="{'is-invalid' :passwordChangeForm.controls.confirmNewPassword.touched &&
                 passwordChangeForm.controls.confirmNewPassword.errors}">
            <label for="confirmNewPassword">Confirm New Password</label>

            <div
                *ngIf="passwordChangeForm.controls['confirmNewPassword'].errors && passwordChangeForm.controls          ['confirmNewPassword'].touched">
                <div class="error-alert" [hidden]="!passwordChangeForm.controls['confirmNewPassword'].errors.required">
                    Confirm password required.</div>
                <div class="error-alert" [hidden]="!passwordChangeForm.controls['confirmNewPassword'].errors.pattern">
                    Confirm new password not match.</div>
            </div>
        </div>
    </form>

</div>
<hr style="margin: 0px; padding: 0px;">
<div style="padding: 10px 20px 10px 20px ;">
    <input type="submit" class="btn" style="background-color: #009688; width: 100%; color: white;" value="Save" name=""
        (click)="onSubmit()">
</div>