<div class="app-page">
    <div>
        <div style="padding: 0px 10px 0px 10px;">
            <div style="float:left ; margin: 0px; padding: 0px; ">
                <p class="app-page-header">UDF Profile Details</p>
            </div>
            <div class="app-button-group">
                <button (click)="save()"><i class="pi pi-save" style="font-size:12px"></i>
                    Save</button>
                <button (click)="back()"><i class="pi pi-angle-left" style="font-size:12px"></i> Back</button>
                <button (click)="refresh()"><i class="pi pi-refresh" style="font-size:12px"></i> Refresh</button>
            </div>
        </div>
        <div class="clear-fix"></div>
        <hr style="margin: 0px; padding: 0px; width: 100%;">
    </div>
    <div style="margin: 10px 10px 10px 10px;">
        <div class="row">
            <div class="app-card" style="margin: 2px 10px 10px 10px;padding: 10px 10px 10px 10px !important;">
                <h3 style="font-weight: 500; margin-bottom: 0px;">Basic Information:</h3>
                <table class="table table-striped table-even-rows">
                    <tr style="background-color: rgb(226, 224, 222); height: 35px;">
                        <th style="width: 51px; padding-left: 5px;">Name</th>
                        <th style="width: 10px;">:</th>
                        <td style="text-align: left; width: 350px;">{{udfData?.name}} </td>
                        <th style="width: 45px;">Code</th>
                        <th style="width: 10px;">:</th>
                        <td style="text-align: left;">{{udfData?.code}} </td>
                    </tr>

                </table>
            </div>
        </div>
        <form [formGroup]="udfForm">
            <div class="row">
                <div class="col-sm-6  col-md-5 app-card"
                    style="margin: 0px 2px 10px 10px; padding: 15px 10px 15px 10px !important;">

                    <h3 style="font-weight: 500; padding-bottom: 0px; padding-bottom: 0px; margin-bottom: 0px;">Defined
                        Fileds:</h3>

                    <div style="text-align:right; margin-bottom: 2px; ">
                        <button class="app-button" style="width: 60px; text-align: center;" (click)="addNew()">+
                            New</button>
                    </div>

                    <p-table class=" table-hover table-responsive" #dataTable [value]="userDefinedFields" dataKey="id"
                        editMode="row" [(selection)]="selectedUdf" styleClass="p-datatable-sm"
                        (onRowSelect)="onRowSelect($event)" selectionMode="single" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr style="font-size: 12px;">
                                <th style="width: 30px;">Order</th>
                                <th style="width: 150px;">Label</th>
                                <th style="min-width: 150px;">Param Name</th>
                                <th style="width: 100px;">Data Type</th>
                                <th style="width:50px; text-align: center;">Action</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
                            <tr [pSelectableRow]="data" style="font-size: 12px;">
                                <td style=" text-align: center;">{{ data.orderNo }}</td>
                                <td>{{ data.label }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.dataType }}</td>
                                <td style="text-align: center;"><button (click)="deleteUserDefinedFiled(data)"
                                        class="app-delete-button">
                                        <i class="pi pi-times-circle" style="font-size:12px"></i>
                                    </button></td>
                            </tr>
                        </ng-template>

                    </p-table>
                </div>
                <div class="col-sm-6  col-md-6 app-card"
                    style="margin: 0px 10px 10px 2px; padding: 15px 20px 15px 20px !important;">
                    <h3 style="font-weight: 500; margin-bottom: 0px;">UDF Form:</h3>

                    <div class="row app-row" style=" padding: 0px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="label" placeholder=" " formControlName="label"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'label')}">
                                <label for="label">Label Name<span style="color: red;">*</span></label>
                                <div *ngIf="isInvalid('udfForm', 'label')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'label')">
                                        Label is requird</div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="name" placeholder=" " formControlName="name"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'name')}"
                                    (input)="onNameChange($event)">
                                <label for="name">Parameter Name<span style="color: red;">*</span></label>
                                <div *ngIf="isInvalid('udfForm', 'name')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'name')">
                                        Parameter Name is requird</div>

                                </div>
                                <div class="error-message" *ngIf="isValidPattern('udfForm', 'name')">
                                    Only letters, numbers, and underscore are allowed
                                </div>
                                <div class="error-message" *ngIf="isNameIsExists">
                                    Parameter name already exists</div>

                            </div>
                        </div>
                    </div>
                    <div class="row app-row" style=" padding: 0px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-dropdown">
                                <label for="dataType">Data Type<span style="color: red;">*</span></label>
                                <p-dropdown
                                    [styleClass]="'app-dropdown-field ' + (isInvalid('udfForm','dataType') ? 'is-invalid' : '')"
                                    [options]="dataType" formControlName="dataType" optionLabel="label"
                                    optionValue="value" appendTo="body" placeholder="Select a filed type"
                                    (onChange)="onDataTypeSeclect($event)"></p-dropdown>

                                <div *ngIf="isInvalid('udfForm', 'dataType')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'dataType')">
                                        Data Type is requird</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="type=='CHAR'|| type=='NUMBER'" class="row " style=" padding: 0px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="minimumLength" placeholder=" " formControlName="minimumLength"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'minimumLength')}">

                                <label for="minimumLength"> Minimum {{type=='CHAR'?'Length':'Value' }} <span
                                        style="color: red;"> {{type=='CHAR'?'*':'' }}</span></label>
                                <div *ngIf="isInvalid('udfForm', 'minimumLength')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'minimumLength')">
                                        Minimum length is requird</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="maximumLength" placeholder=" " formControlName="maximumLength"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'maximumLength')}">
                                <label for="maximumLength">Maximum {{type=='CHAR'?'Length':'Value' }} <span
                                        style="color: red;"> {{type=='CHAR'?'*':'' }}</span></label>
                                <div *ngIf="isInvalid('udfForm', 'maximumLength')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'maximumLength')">
                                        Maximum length is requird</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="regularExpression" placeholder=" "
                                    formControlName="regularExpression">
                                <label for="regularExpression">Regular Expression</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="type=='DATE'" class="row app-row" style=" padding: 0px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="minimumDate" placeholder=" " formControlName="minimumLength">
                                <label for="minimumDate">Minimum Date</label>

                            </div>
                        </div>
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="miximumDate" placeholder=" " formControlName="maximumLength">
                                <label for="miximumDate">Maximum Date</label>

                            </div>
                        </div>

                    </div>
                    <div class="row app-row" style=" padding: 0px 10px 0px 10px; ">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="fieldGroup" placeholder=" " formControlName="fieldGroup">
                                <label for="fieldGroup">Filed Group</label>

                            </div>
                        </div>
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="orderNo" placeholder=" " formControlName="orderNo"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'orderNo')}">
                                <label for="orderNo">Order<span style="color: red;">*</span></label>
                                <div *ngIf="isInvalid('udfForm', 'orderNo')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'orderNo')">
                                        Order is requird</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row app-row" style=" padding: 0px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field-checkbox">
                                <input type="checkbox" id="mandatory" placeholder=" " formControlName="mandatory">
                                <label for="mandatory">Requird</label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="type=='DROP_DOWN'" class="row app-row" style=" padding: 0px 10px 0px 10px">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field-checkbox">
                                <input type="checkbox" id="isServiceEndpoint" placeholder=" "
                                    formControlName="isServiceEndpoint" (change)="onServiceEndpointCheck($event)">
                                <label for="isServiceEndpoint">Servie Endpoint</label>
                            </div>
                        </div>
                        <div *ngIf="isServiceEndpoint" class="col-sm-6  col-md-6 ">
                            <div class="app-input-field">
                                <input type="text" id="serviceEndpointName" placeholder=" "
                                    formControlName="serviceEndpointName"
                                    [ngClass]="{'is-invalid' : isInvalid('udfForm', 'serviceEndpointName')}">
                                <label for="serviceEndpointName">Service Endpoint Name</label>
                                <div *ngIf="isInvalid('udfForm', 'serviceEndpointName')">
                                    <div class="error-message" *ngIf="isRequired('udfForm', 'serviceEndpointName')">
                                        Service endpoint is requird</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="type=='DROP_DOWN'" class="row " style=" padding: 0px 10px 0px 10px;">
                        <div *ngIf="isServiceEndpoint" class="col-sm-6  col-md-6  app-row">
                            <div class="app-input-field">
                                <input type="text" id="labelOfServiceEndpoint" placeholder=" "
                                    formControlName="labelOfServiceEndpoint">
                                <label for="labelOfServiceEndpoint">Label Key</label>

                            </div>
                        </div>
                        <div *ngIf="isServiceEndpoint" class="col-sm-6  col-md-6  app-row">
                            <div class="app-input-field">
                                <input type="text" id="valueOfServiceEndpoint" placeholder=" "
                                    formControlName="valueOfServiceEndpoint">
                                <label for="valueOfServiceEndpoint">Value Key</label>

                            </div>
                        </div>

                    </div>
                    <div *ngIf="!isServiceEndpoint && type=='DROP_DOWN'" class="row "
                        style=" padding: 0px 10px 0px 10px; margin: 0px 2px 0px 2px; border: 1px solid rgb(207, 199, 199); border-radius: 4px; ">
                        <form [formGroup]="domainListForm">
                            <div class="row app-row">
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-input-field">
                                        <input type="text" id="label2" placeholder=" " formControlName="label"
                                            [ngClass]="{'is-invalid' : isInvalid('domainListForm', 'label')}">
                                        <label for="label2">Label</label>
                                        <div *ngIf="isInvalid('domainListForm', 'label')">
                                            <div class="error-message" *ngIf="isRequired('domainListForm', 'label')">
                                                Label is requird</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-input-field">
                                        <input type="text" id="value" placeholder=" " formControlName="value"
                                            [ngClass]="{'is-invalid': isInvalid('domainListForm', 'value')}">
                                        <label for="value">value</label>
                                        <div *ngIf="isInvalid('domainListForm', 'value')">
                                            <div class="error-message" *ngIf="isRequired('domainListForm', 'value')">
                                                value is requird</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row app-row">
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-input-field">
                                        <input type="number" id="order1" placeholder=" " formControlName="orderNo"
                                            [ngClass]="{'is-invalid': isInvalid('domainListForm', 'order')}">
                                        <label for="order1">Order No</label>
                                        <div *ngIf="isInvalid('domainListForm', 'orderNo')">
                                            <div class="error-message" *ngIf="isRequired('domainListForm', 'orderNo')">
                                                Order no is requird</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-input-field">
                                        <input type="text" id="dependentData" placeholder=" "
                                            formControlName="dependentData">
                                        <label for="dependentData">Dependent Data</label>
                                    </div>
                                </div>
                            </div>

                            <div style="text-align: right;">
                                <button class="app-button" style="width: 60px; text-align: center;"
                                    (click)="addDomain()">+ Add</button>
                            </div>

                            <div class="row " [style]="{'margin-bottom': '5px'}">
                                <p-table class=" table-hover table-responsive" [value]="userDefinedFieldDomainDataList"
                                    [(selection)]="selectedDoaminData" styleClass="p-datatable-sm"
                                    (onRowSelect)="onDomainRowSelect($event)" selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr style="font-size: 12px;">
                                            <th style="width: 30px;">Order</th>
                                            <th style="width: 150px;">Label</th>
                                            <th style="min-width: 100px;">Value</th>
                                            <th style="width: 150px;">Dependent Data </th>
                                            <th style="width:50px;">Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
                                        <tr [pSelectableRow]="data" style="font-size: 12px;">
                                            <td style=" text-align: center;">{{ data.orderNo }}</td>
                                            <td>{{ data.label }}</td>
                                            <td>{{ data.value }}</td>
                                            <td>{{ data.dependentData }}</td>
                                            <td style="text-align: center;"><button (click)="deleteDomainListData(data)"
                                                    class="app-delete-button">
                                                    <i class="pi pi-times-circle" style="font-size:12px"></i>
                                                </button></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </form>
                    </div>

                    <div class="row" style=" padding: 10px 10px 0px 10px;">
                        <div class="col-sm-6  col-md-6 ">
                            <div class="app-input-field-checkbox">
                                <input type="checkbox" id="isConditionallyAppearance" placeholder=" "
                                    formControlName="isConditionallyAppearance" (change)="onFieldApearnceCheck($event)">
                                <label for="isConditionallyAppearance">Appear Conditionally</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isFieldAppearanceLogic" class="row"
                        style=" padding: 0px 10px 0px 10px; margin: 0px 2px 0px 2px; border: 1px solid rgb(207, 199, 199); border-radius: 4px;">
                        <form [formGroup]="fieldAppLogicForm">

                            <div class="row app-row">
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-dropdown" style="margin-bottom: 5px;">
                                        <label for="logicType">Logic Type<span style="color: red;">*</span></label>
                                        <p-dropdown styleClass="app-dropdown-field" [options]="logicType"
                                            formControlName="logicType" optionLabel="label" optionValue="value"
                                            appendTo="body" placeholder="Select a logic type"
                                            [styleClass]="'app-dropdown-field ' + (isInvalid('fieldAppLogicForm','logicType') ? 'is-invalid' : '')"></p-dropdown>

                                        <div *ngIf="isInvalid('fieldAppLogicForm', 'logicType')">
                                            <div class="error-message"
                                                *ngIf="isRequired('fieldAppLogicForm', 'logicType')">
                                                Logic is requird</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6  col-md-6 ">
                                    <div class="app-input-field">
                                        <input type="text" id="value3" placeholder=" " formControlName="value"
                                            [ngClass]="{'is-invalid': isInvalid('domainListForm', 'value')}">
                                        <label for="value3">value</label>
                                        <div *ngIf="isInvalid('domainListForm', 'value')">
                                            <div class="error-message" *ngIf="isRequired('domainListForm', 'value')">
                                                value is requird</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row app-row">
                                <div class="col-sm-6  col-md-6 ">

                                    <div class="app-dropdown">
                                        <label for="dependentFieldId">Dependent Filed<span
                                                style="color: red;">*</span></label>
                                        <p-dropdown
                                            [styleClass]="'app-dropdown-field ' + (isInvalid('fieldAppLogicForm','dependentFieldId') ? 'is-invalid' : '')"
                                            [options]="dependentDataList" formControlName="dependentFieldId"
                                            optionLabel="label" optionValue="value" appendTo="body"
                                            placeholder="Select a logic type"></p-dropdown>

                                        <div *ngIf="isInvalid('fieldAppLogicForm', 'dependentFieldId')">
                                            <div class="error-message"
                                                *ngIf="isRequired('fieldAppLogicForm', 'dependentFieldId')">
                                                Dependent field requird</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="text-align: right;">
                                <button class="app-button" style="width: 60px; text-align: center;"
                                    (click)="addAppearanceLogic()">+ Add</button>
                            </div>

                            <div class="row" [style]="{'margin-bottom': '5px'}">
                                <p-table class=" table-hover table-responsive" [value]="fieldAppLogicList"
                                    [(selection)]="selecteFieldAppearanceLogic"
                                    (onRowSelect)="onFiledAppearanceLogicRowSelect($event)" styleClass="p-datatable-sm"
                                    selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr style="font-size: 12px;">
                                            <th>Logic Type</th>
                                            <th>Value</th>
                                            <th>Dependent Filed</th>
                                            <th>Param Keyword</th>
                                            <th>Action</th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
                                        <tr [pSelectableRow]="data" style="font-size: 12px;">
                                            <td style=" text-align: center;">{{ data.logicType }}</td>
                                            <td>{{ data.value }}</td>
                                            <td>{{ data.dependentFieldName }}</td>
                                            <td>{{ data.paramKeyword }}</td>
                                            <td style="text-align: center;"><button
                                                    (click)="deleteAppearanceLogic(data)" class="app-delete-button">
                                                    <i class="pi pi-times-circle" style="font-size:12px"></i>
                                                </button></td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                        </form>
                    </div>

                </div>
            </div>






        </form>
    </div>
</div>