.accordion1 {
  width: 100%;
  max-width: 360px;
  padding-top: 0px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}

.menu {
  position: relative;
  padding-left: 25px;
  /* padding-bottom: 10px; */
  padding-right: 10px !important;
  padding-top: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.accordion1 .menu:hover {
  background: #94ccf1;
  color: #000000;
}

.accordion1 li:last-child .menu {
  border-bottom: 0;
}

.menu i {
  position: absolute;
  padding-top: 5px;
  left: 5px;
  padding-right: 5px;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion1 li i.pi-angle-down {
  right: 0rem;
  left: auto;
}

.accordion1 li.active i.pi-angle-down {
  transform: rotate(180deg);
  padding-top: 5px;
}

/* .accordion1 li.active .menu {
    color: #020000;
  }
  
  .accordion1 li.active i {
    color: #080001;
  }
   */
/* Show submenu */


.submenu {
  height: 0;
  overflow: hidden;
  background: #f8f8fa;
  padding: 0px !important;
  font-size: 14px;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid #f5f5f5;
}

.accordion1 li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion1 li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #0c0101;
  transition: all 0.25s ease-in-out;
}

.submenu i {
  padding-right: 5px;
}

.submenu a:hover {
  background: #94ccf1;
  color: #000000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}