
.right-menu-item{
    text-decoration: none !important;
    color: #009688;
}
.parent-right-menu-item {
    font-size: 14px;
    width: 250px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none !important;
    color: #009688;
}

.parent-right-menu-item:hover {
    cursor: pointer;
    background-color: rgb(215, 154, 228);

}
