<hr style="margin: 0px; padding: 0px;">
<div style="padding: 0px 20px 10px 20px ;">
    <form [formGroup]="branchChangeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class=" col-md-12 app-dropdwon">
                <p-dropdown styleClass="app-dropdwon-field" appendTo="body" [filter]="true" [resetFilterOnHide]='true'
                    [options]="branchs" filterBy="label" optionLabel="label" [placeholder]="'Select a branch'">
                </p-dropdown>
            </div>
        </div>
        <br>
    </form>

</div>
<hr style="margin: 0px; padding: 0px;">
<div style="padding: 5px 20px 5px 20px ; text-align: center;">
    <input type="submit" class="btn"
        style="background-color: #086960; width:80px; height: 35px; color: white;  font-size: 13px;" value="Switch"
        name="">
</div>