<div class="app-page">
    <div *ngIf="taskId">
        <approval-flow-task-button [taskId]="taskId" [header]="header"></approval-flow-task-button>
    </div>
    <div *ngIf="!taskId">
        <div style="padding: 0px 10px 0px 10px;">
            <div style="float:left ; margin: 0px; padding: 0px; ">
                <p class="app-page-header">User detials</p>
            </div>

            <div class="app-button-group">
                <button (click)="onEdit()"><i class="pi pi-edit" style="font-size:12px"></i> Edit</button>
                <button (click)="back()"><i class="pi pi-angle-left" style="font-size:12px"></i> Back</button>
            </div>
        </div>
        <div class="clear-fix"></div>
        <hr style="margin: 0px; padding: 0px; width: 100%;">
    </div>

    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12  col-md-6 " style="display:flex; flex-direction:row">
                    <div style="flex: 2; margin-right: 3px;">
                        <table class="table table-bordered table-striped table-even-rows">
                            <tr>
                                <th style="width: 200px;">User Name</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.userName}} </td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">First Name</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.firstName}} </td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Middle Name</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.middleName}} </td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Last Name</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.lastName}} </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col-sm-12  col-md-6 " style="display:flex; flex-direction:row">
                    <div style="flex: 2; margin-right: 3px;">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th style="width: 200px;">Email</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.email}} </td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Phone Number</th>
                                <th style="width: 10px;">:</th>
                                <td style="text-align: left;">{{userInfo.firstName}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>