@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

/* You can add global styles to this file, and also import other style files */
.deshbord-app-card {
    width: 100%;
    background-color: white;
    height: 140px;
    border-radius: 5px;
    padding: 25px 5px 15px 5px;
    border: 1px solid rgb(185, 184, 184);
    text-align: center;
    margin: 15px 20px 15px 25px !important;

}

.deshbord-card-title {
    color: black;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 450;
}


.deshbord-app-card:hover {
    border: 1px solid rgb(184, 180, 180);
    cursor: pointer;
    transform: translateY(-5px);

    box-shadow: 0px 10px 10px 5px rgba(87, 86, 86, 0.5);
}

.app-row {
    margin-top: 15px;
}

.app-card {
    border-radius: 5px;
    padding: 15px 15px 1px 15px;
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.row>* {
    padding: 5px !important;

}

.mat-mdc-card-content:first-child {
    padding-top: 5px !important;
}


.app-card-title {
    font-size: 16px;
    color: #108a7d;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.app-page {
    border-radius: 5px;
    margin: 5px 5px 0px 5px;

    flex: 2;
}


/* form input filed css */
.app-input-checkbox {
    font-size: 14px;
    margin-top: 26px;

}

.app-input-checkbox label {
    font-size: 13px;
    color: #1aa89c;
    font-weight: 500;
}

.app-input-field label {
    display: block;
    font-size: 12px;
    transform: translate(0, -2.75rem);
}

.app-input-field {
    font-size: 12px;
}

.app-input-field input {
    width: 100%;
    padding-left: 2px;
    border: none;
    border-bottom: 1px solid #737272;
    transition: border-color 0.2s ease;
    margin-top: 0px;
}

.app-input-field input:focus {
    outline: none;
    border-bottom: 2px solid #007D72;
}


@supports (not (-ms-ime-align:auto)) {
    .app-input-field label {
        color: #999;
        transform: translate(0.25rem, -1.5rem);
        /* transition: all 0.2s ease-out; */
    }

    .app-input-field input:focus+label,
    .app-input-field input:not(:placeholder-shown)+label {
        font-size: 13px;
        color: #1aa89c;
        font-weight: 500;
        transform: translate(1px, -45px);
    }
}


.app-input-field-date label {
    display: block;
    font-size: 13px;

    transform: translate(0, -2.5rem);
}

.app-input-field-date {
    font-size: 12px;
}



.app-input-field-date .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 2px;
    margin-top: 16px;
    transform: translate(0, -2rem);

}

.app-input-field .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 2px;
    margin-top: 16px;
    transform: translate(0, -2rem);

}

.app-input-field-date input {
    width: 100%;
    padding-left: 2px;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #737272;
    transition: border-color 0.2s ease;

}

.app-input-field-date input:focus {
    outline: none;
    border-bottom: 2px solid #007D72 !important;
}


@supports (not (-ms-ime-align:auto)) {
    .app-input-field-date label {
        color: #999;
        transform: translate(0.25rem, -1.5rem);
        /* transition: all 0.2s ease-out; */
    }

    .app-input-field-date input:focus+label,
    .app-input-field-date input:not(:placeholder-shown)+label {
        font-size: 15px;
        color: #1aa89c;
        font-weight: 500;
        transform: translate(1px, -45px);
    }
}


@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon label {
        font-size: 15px;
        font-weight: 500;
        padding-left: 0px !important;
        margin-bottom: 10px;
        color: #1aa89c;
        transform: translate(0.25rem, -3rem);
    }
}

.app-dropdwon-field {
    border: none;
    width: 100%;
    margin-top: 14px;
    height: 35px;
    padding: 0px !important;
    border-bottom: 1px solid gray;
    font-size: 17px;
}

/* user for set dropdwon filed position */
@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon .app-dropdwon-field {
        transform: translate(1px, -6px);
    }
}

.app-dropdwon-field ol,
ul {
    padding: 0px !important;
}

.app-dropdwon .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    margin-top: 3px;
    transform: translate(0, -2rem);
}

/* user for set dropdwon icon position */
@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon .select {
        transform: translate(1px, 8px);
        font-size: 5px;
        border: none;
    }
}

.app-dropdown-filed {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}


.app-dropdown-filed:focus {
    outline: none;
}

/* Remove border if a non-empty value is selected */
.app-dropdown-filed option[value=""] {
    color: gray;
    /* placeholder color */
}

/* style for button */
.app-button-group {
    text-align: right;
}

.app-button-group button {
    height: 27px;
    font-size: 13px;
    text-align: right;
    background-color: #108a7d;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 14px;
    padding-bottom: 3px;
    padding-right: 14px;

}

.app-button-group button:hover {
    background-color: #0ec2b0;
}

.app-button {
    height: 27px;
    font-size: 12px;
    text-align: right;
    background-color: #108a7d;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
}

.app-button:hover {
    background-color: #1ae4d0;
}

.app-page-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;
    color: rgb(4, 151, 139);
    margin: 0px;

    /* transition: all 0.2s ease-out; */
}

.error-alert {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    transform: translate(0, -1.3rem);
}

.app-dropdwon .error-alert {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    transform: translate(0, -2rem);
}

.p-toast {
    margin-top: 75px !important;
    margin-right: 12px !important;
}

.toast-error-style {
    background-color: rgb(187, 21, 21);
    border-radius: 5px;

    padding-bottom: 12px !important;
    color: white;
}

.toast-success-style {
    background-color: green;
    padding-bottom: 12px !important;
    border-radius: 5px;
    color: white;
}

.toast-warning-style {
    padding-bottom: 12px !important;
    background-color: rgb(212, 111, 43);
    border-radius: 5px;
    color: white;
}


.toast-info-style {
    background-color: rgb(228, 212, 72);
    border-radius: 5px;
    color: rgb(7, 1, 1);
    padding-bottom: 12px !important;

}

.toast-success-style button {
    color: rgb(250, 250, 250);
    border-radius: 10px !important;
}



.toast-error-style button {
    color: rgb(250, 250, 250);
    border-radius: 15px !important;
}

.toast-error-style button:hover {
    color: rgb(250, 250, 250);
    background-color: #4b06bb;
    border-radius: 10px !important;
}

.toast-info-style button {
    color: rgb(0, 0, 0);
}

.toast-warning-style button {
    color: rgb(250, 250, 250);
}


.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    border: 1px solid rgb(190, 188, 188) !important;
    padding: 0px !important;
    padding-left: 6px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 6px !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr:hover {
    background-color: #d2d3d6;
}

.p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
    padding-top: 4px !important;
    border: 1px solid rgb(190, 188, 188) !important;
    text-align: center;
    padding: 7px 5px 7px 5px !important;
    background-color: #d2d3d6;
}

.p-paginator {
    padding: 0px !important;
    margin: 0px !important;
    height: 37px;
    background-color: rgb(6, 66, 94);
    ;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #0860c5 !important;

}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: #0860c5 !important;
}

.p-paginator .p-paginator-first:hover {
    background-color: #0860c5;
}

.p-paginator .p-paginator-prev:hover {
    background-color: #0860c5;
}

.p-paginator .p-paginator-next:hover {
    background-color: #0860c5;
}

.p-paginator .p-paginator-last:hover {
    background-color: #0860c5;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 15px;
    height: 30px;
    color: rgb(250, 245, 245);
    margin-left: 2px;
}

/* Resize only the numeric page buttons */
.p-datatable .p-paginator .p-paginator-element,
.p-datatable .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Rows per page dropdown */
.p-paginator .p-dropdown {
    width: 80px !important;
    height: 26px !important;
    background-color: rgb(6, 66, 94);

}

.p-dropdown .p-dropdown-trigger {
    color: white;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child {
    text-align: center;
    padding: 5px 2px 5px 0px;
}

.p-paginator .p-dropdown .p-dropdown-label {
    padding: 0px !important;
    text-align: center;
    padding-left: 5px !important;
    width: 30px;
    padding-top: 3px !important;
    color: white;

}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    border-radius: 15px;
    height: 30px;
    color: rgb(250, 245, 245);
    margin-left: 2px;
}

.app-list {
    border-radius: 5px;
    margin: 0px 15px 20px 15px;
    padding: 10px 10px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.btn-circle {
    border: none;
    width: 25x;
    height: 25px;
    padding-top: 3px;
    border-radius: 13px;
    background-color: #108a7d;
    color: white;
}

table tr:nth-child(even) {
    background-color: #ececec !important;
}

html,
body {
    height: 100%;
}

.tree-dot-button {
    background: none;
    color: black;
    border: none;
    padding: 0px !important;
    margin: 0px !important;
}

.tree-dot-button:hover {
    background: none;
    color: black;
    border: none;
}

.tree-dot-button:focus {
    box-shadow: none !important;
    border: none !important;
}

.p-menu .p-submenu-header {
    padding: 0px !important;
    margin: 0px;
}

.p-menu.p-menu-overlay {
    margin: 0px !important;
    width: 150px !important;
    padding: 0px !important;

}

.p-menu .p-menuitem .p-menuitem-content .p-menuitem-link {
    padding: 5px !important;
}

.p-menu .p-menuitem .p-menuitem-content .p-menuitem-link:hover {
    background-color: #c5bebe;
}

.p-overlaypanel .p-overlaypanel-close {
    background-color: rgb(226, 130, 4);
    border-radius: 15px !important;
    height: 30px !important;
    width: 30px !important;
}

.app-action-button {
    background: none;
    height: 30px;
    text-align: left;
    width: 100% !important;
    color: black;
    border: none;
    padding: 0px 10px 0px 10px !important;
    margin: 0px !important;
}

.app-action-button:hover {
    background-color: #d1cdcd;

}

.p-overlaypanel .p-overlaypanel-content {
    padding: 5px !important;
}

.home-page {
    position: absolute;
    background-size: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* remove box shado on dropdwon focus and set border line green  */
.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-bottom: 2px solid green !important;
}

.p-dropdown-header {
    padding: 0px !important;
    margin: 0px !important;
    border: none;
}

.p-dropdown-filter {
    border: none;
    height: 30px;
    /* background-color: #009688; */
    background-color: #086b61;
    color: white;
}

.p-dropdown-item {
    font-size: 14px;
    text-align: left !important;
    padding: 2px 10px 2px 5px !important;
}

.p-dropdown-item:hover {
    background-color: #b9bdc0;
}

.app-dropdwon-field ol,
ul {
    padding: 0px !important;
}

.app-button-line {
    margin-top: 5px;
    margin-bottom: 2px;
}