@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
.app-card {
    border-radius: 5px;
    padding: 15px 15px 1px 15px;
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.row>* {
    padding: 5px !important;

}

.mat-mdc-card-content:first-child {
    padding-top: 5px !important;
}


.app-card-title {
    font-size: 16px;
    color: #108a7d;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.app-page {
    border-radius: 5px;
    margin: 10px 20px 0px 20px;
    padding: 5px 12px 10px 12px;
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


/* form input filed css */
.app-input-checkbox {
    font-size: 14px;
    margin-top: 26px;

}

.app-input-checkbox label {
    font-size: 13px;
    color: #1aa89c;
    font-weight: 500;
}

.app-input-field label {
    display: block;
    font-size: 12px;
    transform: translate(0, -2.75rem);
}

.app-input-field {
    font-size: 12px;
}

.app-input-field input {
    width: 100%;
    padding-left: 2px;
    border: none;
    border-bottom: 1px solid #737272;
    transition: border-color 0.2s ease;
    margin-top: 0px;
}

.app-input-field input:focus {
    outline: none;
    border-bottom: 2px solid #007D72;
}


@supports (not (-ms-ime-align:auto)) {
    .app-input-field label {
        color: #999;
        transform: translate(0.25rem, -1.5rem);
        /* transition: all 0.2s ease-out; */
    }

    .app-input-field input:focus+label,
    .app-input-field input:not(:placeholder-shown)+label {
        font-size: 13px;
        color: #1aa89c;
        font-weight: 500;
        transform: translate(1px, -45px);
    }
}


.app-input-field-date label {
    display: block;
    font-size: 13px;

    transform: translate(0, -2.5rem);
}

.app-input-field-date {
    font-size: 12px;
}



.app-input-field-date .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 2px;
    margin-top: 16px;
    transform: translate(0, -2rem);

}

.app-input-field .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 2px;
    margin-top: 16px;
    transform: translate(0, -2rem);

}

.app-input-field-date input {
    width: 100%;
    padding-left: 2px;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #737272;
    transition: border-color 0.2s ease;

}

.app-input-field-date input:focus {
    outline: none;
    border-bottom: 2px solid #007D72 !important;
}


@supports (not (-ms-ime-align:auto)) {
    .app-input-field-date label {
        color: #999;
        transform: translate(0.25rem, -1.5rem);
        /* transition: all 0.2s ease-out; */
    }

    .app-input-field-date input:focus+label,
    .app-input-field-date input:not(:placeholder-shown)+label {
        font-size: 15px;
        color: #1aa89c;
        font-weight: 500;
        transform: translate(1px, -45px);
    }
}


@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon label {
        font-size: 15px;
        font-weight: 500;
        padding-left: 0px !important;
        margin-bottom: 10px;
        color: #1aa89c;
        transform: translate(0.25rem, -3rem);
    }
}

.app-dropdwon-field {
    border: none;
    width: 100%;
    margin-top: 14px;
    height: 35px;
    padding: 0px !important;
    border-bottom: 1px solid gray;
    font-size: 17px;
}

/* user for set dropdwon filed position */
@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon .app-dropdwon-field {
        transform: translate(1px, -6px);
    }
}

.app-dropdwon-field ol,
ul {
    padding: 0px !important;
}

.app-dropdwon .error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    margin-top: 3px;
    transform: translate(0, -2rem);
}

/* user for set dropdwon icon position */
@supports (not (-ms-ime-align:auto)) {
    .app-dropdwon .select {
        transform: translate(1px, 8px);
        font-size: 5px;
        border: none;
    }
}

.app-dropdown-filed {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}


.app-dropdown-filed:focus {
    outline: none;
}

/* Remove border if a non-empty value is selected */
.app-dropdown-filed option[value=""] {
    color: gray;
    /* placeholder color */
}

/* style for button */
.app-button-group {
    text-align: right;
}

.app-button-group button {
    height: 27px;
    font-size: 12px;
    text-align: right;
    background-color: #108a7d;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;

}

.app-button-group button:hover {
    background-color: #0ea899;
}

.app-page-header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    color: rgb(10, 95, 134);
    margin: 0px;

    /* transition: all 0.2s ease-out; */
}

.error-alert {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    transform: translate(0, -1.3rem);
}

.app-dropdwon .error-alert {
    color: red;
    font-size: 12px;
    height: 10px;
    padding-left: 5px;
    transform: translate(0, -2rem);
}

.toast-error-style {
    background-color: rgb(187, 21, 21);
    border-radius: 5px;
    padding-bottom: 12px !important;
    color: white;
}

.toast-success-style {
    background-color: green;
    padding-bottom: 12px !important;
    border-radius: 5px;
    color: white;
}

.toast-warning-style {
    padding-bottom: 12px !important;
    background-color: rgb(212, 111, 43);
    border-radius: 5px;
    color: white;
}


.toast-info-style {
    background-color: rgb(228, 212, 72);
    border-radius: 5px;
    color: rgb(7, 1, 1);
    padding-bottom: 12px !important;

}

.toast-success-style button {
    color: rgb(250, 250, 250);
    border-radius: 10px !important;
}



.toast-error-style button {
    color: rgb(250, 250, 250);
    border-radius: 15px !important;
}

.toast-error-style button:hover {
    color: rgb(250, 250, 250);
    background-color: #4b06bb;
    border-radius: 10px !important;
}

.toast-info-style button {
    color: rgb(0, 0, 0);
}

.toast-warning-style button {
    color: rgb(250, 250, 250);
}